<div>
    <% form_with model: @post, local: true do |p|%>

        <div class="form-group">
            <%= p.label :title %>
            <%= p.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= p.label :content %>
            <%= p.text_area :content, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= p.submit 'Create Post', class: 'btn btn-primary' %>
        </div>      
    <% end %>
</div>